
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//colors
$white: white;
$color_bombay_approx: #adb5bd;

//urls
$url_0: url(../images/stars.jpg);
$url_1: url(../images/bg-masthead.jpg);
$url_2: url(../images/bg-showcase-1.jpg);
$url_3: url(../images/bg-showcase-2.jpg);
$url_4: url(../images/bg-showcase-3.jpg);

body {
	min-width: 294px;
}
#cover-caption {
	width: 100%;
}
header {
	background: $url_1 center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	color: $white;
}
.section_1 {
	padding-bottom: 253px;
	width: 100%;
}
.section_2 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
#showcase_div1 {
	background: $url_2;
	height: 468px;
	min-width: 300px;
}
#showcase_div2 {
	background: $url_3;
	height: 468px;
	min-width: 300px;
}
#showcase_div3 {
	background: $url_4;
	height: 468px;
	min-width: 300px;
}
.section_4 {
	padding-top: 7rem;
	padding-bottom: 7rem;
	img {
		max-width: 12rem;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 5px 5px 0 $color_bombay_approx;
	}
}
.section_5_img {
	background: $url_1 center center;
	background-size: cover;
	align-items: center;
	color: $white;
	height: 516px;
	display: flex;
}
.section_6 {
	padding: 80px 0;
}
footer p {
	padding-left: 20px;
}